SUB_NODE_RPC_URL="http://127.0.0.1:9944"
SUB_OPERATOR_MNEMONIC="//Bob"

SOL_WS_ENDPOINT="ws://localhost:8900"
SOL_HTTP_ENDPOINT="http://localhost:8899"
SOL_PROGRAM_ID="7AHKVYYofZ5Q6DCFUi3xEBf9kibRWa3kjQFKuKEFe6ht"

JOB_POOL_ID=101
JOB_POLICY_ID=1
JOB_SPEC_VERSION=1
JOB_MAX_INPUT_SIZE=2048
